// Navigation code here

.nav {
	height: 100px;
    background-color: @wild-sand;
    border: 2px solid @sea-shell;
	
	.nav-all {
        display: flex;
        flex-direction: column;
		justify-content: space-between;
		height: 100%;
        align-items: center;
        color: @river-bend;
		h1 {
            font-size: 4rem;
            margin-top: 10px;
        }
		
	}

	ul {
		display: flex;

		
	}

	li {
		margin: 10px 20px;
        font-size: 1.6em;
       
	}

	a {
		text-decoration: none;
        color: black;
        
    }
   
  

}